<style>
    .footer {
        margin-top: 40px;
        background-color: rgb(24, 87, 160);
        color: white;
        text-align: center;
    }

    .footer > p {
        margin: 0;
        padding: 2px 0;
    }

    .footer > p:first-child {
        padding-top: 10px;
    }

    .footer > p:last-child {
        padding-bottom: 10px;
    }
</style>

<div class="footer">
    <p>Công ty TNHH vé máy bay trực tuyến <b>Muavegiare</b></p>
    <p>Số ĐKKD 01293481042 - Mã số thuế 012937392</p>
    <p>&copy; Muavegiare Copyright. All rights reserved</p>
</div>