<div ng-include="'components/Header/header.html'"></div>
<div class="container">
    <div class="col-md-12">
        <button class="btn btn-info pull-right" ng-click="AddFlightSchedule()">Thêm chuyến bay</button>
    </div>
    <style>
        fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow:  0px 0px 0px 0px #000;
                    box-shadow:  0px 0px 0px 0px #000;
        }

        legend.scheduler-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width:auto;
            padding:0 10px;
            border-bottom:none;
        }

        .equal {
            display: flex;
            display: -webkit-flex;
            flex-wrap: wrap;
            align-items: center;
        }
    </style>
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Tìm kiếm</legend>
        <div class="col-md-12 equal" style="margin-top: 10px">
            <div class="col-md-10">
                <div class="col-md-12">
                    <div class="col-md-2">Từ - đến</div>
                    <div class="col-md-5">
                        <dropdown-select class="form-control" dd-model='SearchInfo.from_airport' dd-data='ListLocation' dd-label='location_name'></dropdown-select>
                    </div>
                    <div class="col-md-5">
                        <dropdown-select class="form-control" dd-model='SearchInfo.to_airport' dd-data='ListLocation' dd-label='location_name'></dropdown-select>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 10px">
                    <div class="col-md-2">Thời gian:</div>
                    <div class="col-md-5">
                        <input class="form-control datepicker" data-date-format="dd/mm/yyyy" ng-model="SearchInfo.start_date" data-provide="datepicker" placeholder="Bấm chọn ngày đi" readonly>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control datepicker" data-date-format="dd/mm/yyyy" ng-model="SearchInfo.end_date" data-provide="datepicker" placeholder="Bấm chọn ngày về" readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-warning" ng-click="FindFlightSchedule()">Tìm kiếm</button>
            </div>
        </div>
    </fieldset>
    <h2>Danh sách các chuyến bay</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">Số hiệu chuyến bay</th>
          <th class="text-center">Khởi hành từ - đến</th>
          <th class="text-center">Thời gian (dự kiến)</th>
          <th class="text-center">Tổng số ghế</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in ListFlightSchedule">
          <td style="vertical-align: middle;"><b>{{p.flight_no}}</b></td>
          <td style="vertical-align: middle;"><b>{{p.from_location.city}}</b> ({{p.from_location.country}}) - <b>{{p.to_location.city}}</b> ({{p.to_location.country}})</td>
          <td style="vertical-align: middle;" class="text-center">{{p.start_time}} - {{p.end_time}}</td>
          <td style="vertical-align: middle;" class="text-center">{{p.airplane.capacity}} chỗ ngồi</td>
        </tr>
      </tbody>
    </table>
</div>


<div class="modal fade" id="AddScheduleModal">
  <div class="modal-dialog">
      <div class="modal-content">
      
          <!-- Modal Header -->
          <div class="modal-header">
              <div class="modal-title">
                  <span style="font-size: 20px; font-weight: bold;">Thêm chuyến bay</span>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                  <!-- <div class="col-md-12">
                      <label class="bold">Số hiệu chuyến bay:</label>
                  </div>
                  <div class="col-md-12">
                      <input class="form-control" ng-model="ScheduleInfo.flight_no" type="text"/>
                  </div> -->

                  <div class="col-md-12" style="margin-top: 10px">
                      <label class="bold">Khởi hành từ sân bay:</label>
                  </div>
                  <div class="col-md-12">
                      <dropdown-select class="form-control" dd-model='ScheduleInfo.from_airport' dd-data='ListLocation' dd-label='location_name'></dropdown-select>
                  </div>

                  <div class="col-md-12" style="margin-top: 10px">
                      <label class="bold">Đến sân bay:</label>
                  </div>
                  <div class="col-md-12">
                      <dropdown-select class="form-control" dd-model='ScheduleInfo.to_airport' dd-data='ListLocation' dd-label='location_name'></dropdown-select>
                  </div>

                  <div class="col-md-12" style="margin-top: 10px">
                      <label class="bold">Máy bay:</label>
                  </div>
                  <div class="col-md-12">
                      <dropdown-select class="form-control" dd-model='ScheduleInfo.airplane' dd-data='ListAirplane' dd-label='airplane_name'></dropdown-select>
                  </div>

                  <div class="col-md-12" style="margin-top: 10px">
                      <label class="bold">Thời gian khởi hành:</label>
                  </div>
                  <div class="col-md-12">
                      <div class="dropdown">
                          <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target=".dropdown2" href="javascript:void()">
                            <div class="input-group">
                              <input type="text" id="date" name="date" class="form-control" data-ng-model="ScheduleInfo.start_time">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                          </a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="ScheduleInfo.start_time" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"></datetimepicker>
                          </ul>
                      </div>
                  </div>

                  <div class="col-md-12" style="margin-top: 10px">
                      <label class="bold">Thời gian kết thúc:</label>
                  </div>
                  <div class="col-md-12">
                      <div class="dropdown">
                          <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target=".dropdown1" href="javascript:void()">
                            <div class="input-group">
                              <input type="text" id="date" name="date" class="form-control" data-ng-model="ScheduleInfo.end_time">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                          </a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="ScheduleInfo.end_time" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"></datetimepicker>
                          </ul>
                      </div>
                  </div>
                  <!-- ---------------------------------- -->
                  <div ng-if="ScheduleInfo.airplane != ''">
                      <div class="col-md-12" style="margin-top: 10px">
                          <label class="bold">Tổng số ghế:</label>
                      </div>
                      <div class="col-md-12">
                          <input class="form-control" ng-model="ScheduleInfo.airplane.capacity" type="text" readonly/>
                      </div>

                      <div class="col-md-12" style="margin-top: 10px">
                          <label class="bold">Tổng số ghế hạng nhất:</label>
                      </div>
                      <div class="col-md-12">
                          <input class="form-control" ng-model="ScheduleInfo.first_class_number" type="number" ng-change="CheckTotalSeat(ScheduleInfo.first_class_number, 1)"/>
                      </div>

                      <div class="col-md-12" style="margin-top: 10px">
                          <label class="bold">Tổng số ghế thương gia:</label>
                      </div>
                      <div class="col-md-12">
                          <input class="form-control" ng-model="ScheduleInfo.business_class_number" type="number" ng-change="CheckTotalSeat(ScheduleInfo.business_class_number, 2)"/>
                      </div>

                      <div class="col-md-12" style="margin-top: 10px">
                          <label class="bold">Tổng số ghế hạng cao cấp:</label>
                      </div>
                      <div class="col-md-12">
                          <input class="form-control" ng-model="ScheduleInfo.premium_class_number" type="number" ng-change="CheckTotalSeat(ScheduleInfo.premium_class_number, 3)"/>
                      </div>

                      <div class="col-md-12" style="margin-top: 10px">
                          <label class="bold">Tổng số ghế hạng thường (tự động tính):</label>
                      </div>
                      <div class="col-md-12">
                          <input class="form-control" ng-model="ScheduleInfo.economy_class_number" type="number" ng-change="CheckTotalSeat()" readonly/>
                      </div>
                  </div>
                  <!-- ---------------------------------- -->

              </div>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn pull-right" data-dismiss="modal">Đóng</button>
              <button type="button" class="btn btn-info pull-right" style="margin-right: 10px" ng-click="CreateNewSchedule()">Tạo chuyến bay</button>
          </div>
          
      </div>
  </div>
</div>