<!-- https://saravanajd.github.io/Angularjs-Dropdown-Search/ -->
<div ng-include="'components/Header/header.html'"></div>
<style>
    .equal {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center" style="background: url(components/header_thum.jpg) no-repeat center; background-size: cover; background-color: #1a1a1a81; background-blend-mode: multiply; color: rgb(226, 226, 226);">
                <h1>Muavegiare.com</h1>
                <p>Đồng hành cùng bạn trên mọi chặng đường!</p> 
            </div>
        </div>
        <div class="col-md-12" style="background-color: #104787; border-radius: 10px; margin: 0 15px 30px 15px; width: calc(100% - 30px);">
            <h2 style="color: white;">Tìm kiếm vé máy bay giá tốt</h2>
            <div class="row" style="padding: 0 0 15px 0">
                <div class="col-md-6">
                    <div>
                        <label style="color: white; font-size: 16px;">Chọn điểm đi</label>
                        <dropdown-select class="form-control" dd-model='LocationFrom' dd-data='ListLocation' dd-label='location_name'></dropdown-select>
                    </div>

                    <div style="margin-top: 20px;">
                        <label style="color: white; font-size: 16px;">Ngày đi</label>
                        <input class="form-control datepicker" data-date-format="dd/mm/yyyy" ng-model="date_from" data-provide="datepicker" placeholder="Bấm chọn ngày đi" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label style="color: white; font-size: 16px;">Chọn điểm đến</label>
                        <dropdown-select class="form-control" dd-model='LocationTo' dd-data='ListLocation' dd-label='location_name'></dropdown-select>
                    </div>

                    <div style="margin-top: 20px;">
                        <label style="color: white; font-size: 16px;">Ngày về</label>
                        <input class="form-control datepicker" data-date-format="dd/mm/yyyy" ng-model="date_to" data-provide="datepicker" placeholder="Bấm chọn ngày về (NẾU CÓ)" readonly>
                    </div>

                    <div style="margin-top:30px">
                        <button class="btn pull-right" ng-click="RemoveGoBackDate()">Bỏ ngày về</button>
                        <button class="btn btn-warning pull-right" style="margin-right: 15px" ng-click="SearchTicket()">Tìm kiếm chuyến bay</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 20px" ng-if="TicketFrom != null && TicketTo == null">
            <h2>Kết quả tìm kiếm</h2>
            <div id="accordion">
                <div class="card" style="margin-top:15px" ng-repeat="p in TicketFrom track by $index">
                  <div class="card-header" id="headingOne">
                      <div class="collapsed" data-toggle="collapse" ng-click="GetDetail(p, $index, '__from1_')" data-target="#__from1_{{$index}}" aria-expanded="true" aria-controls="collapseOne" style="display: flex; justify-content: space-around; cursor: pointer; padding: 10px; background-color: #c5f3f3; align-items: center;">
                        <div style="flex: 1.5;">
                            <img width="100%" style="max-height: 50px; object-fit: cover;" src="{{p.link_image_brand}}"/>
                        </div>
                        <div style="flex: 1" class="text-center">
                            <span>{{p.flight_no}}</span>
                        </div>
                        <div style="flex: 1" class="text-center">
                            <span>{{p.start_time}} - {{p.end_time}}</span>
                        </div>
                        <div style="flex: 2" class="text-center">
                            <span>{{p.price}}VNĐ</span>
                        </div>
                      </div>
                  </div>
              
                  <div id="__from1_{{$index}}" ng-show="p.detail != null" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body" style="background-color: #dddddd; padding: 5px;">

                        <div style="display: flex; margin: 10px 0; align-items: center;">
                            <div style="flex: 5; text-align: right;">
                                <h4>{{p.detail.flight_detail.from_airport.city}} ({{p.detail.flight_detail.from_airport.country}})</h4>
                                <span>Khởi hành: {{p.detail.flight_schedule.start_time}}</span>
                            </div>
                            <div style="flex: 1" class="text-center">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </div>
                            <div style="flex: 5; text-align: left;">
                                <h4>{{p.detail.flight_detail.to_airport.city}} ({{p.detail.flight_detail.to_airport.country}})</h4>
                                <span>Khởi hành: {{p.detail.flight_schedule.end_time}}</span>
                            </div>
                            <div style="flex: 1" class="text-center"></div>
                            <div style="flex: 3">
                                <span><b>Hãng:</b> {{p.detail.airplane_detail.brand}}</span><br/>
                                <span><b>Máy bay:</b> {{p.detail.airplane_detail.airplane_name}}</span><br/>
                                <span><b>Loại ghế:</b> {{p.detail.ticket_type}}</span><br/>
                                <img width="80%" src="{{p.detail.airplane_detail.link_img_brand}}"/>
                            </div>
                        </div>

                        <div style="display: flex; margin: 10px 0;">
                            <div style="flex: 1;" class="text-center">
                                <b>Số lượng ghế</b><br/>1
                            </div>

                            <div style="flex: 1;" class="text-center">
                                <b>Giá tiền một ghế ngồi</b><br/>{{p.detail.price.adult_price.price}} VNĐ
                            </div>

                            <div style="flex: 1;" class="text-center">
                                <b>Thuế & phí</b><br/>{{p.detail.price.tax}} VNĐ
                            </div>

                            <div style="flex: 1;" class="text-center">
                                <b>Tổng tiền</b><br/>{{p.detail.price.total_price}} VNĐ
                            </div>
                        </div>

                        <div style="margin-top:10px">
                            <h4>Điều kiện hành lý</h4>
                            <span>Hành lý xách tay: 7kg</span><br/>
                            <span>Hành lý kí gửi: Vui lòng xem khi đặt vé</span>
                        </div>

                        <div style="margin-top:10px">
                            <h4>Điều kiện về vé</h4>
                            <span>- Áp dụng đổi vé miễn phí</span><br/>
                            <span>- Áp dụng hoàn vé miễn phí</span><br/>
                            <span>- Không áp dụng đổi tên</span>
                        </div>

                        <div style="margin-top:20px">
                            <button type="button" class="btn btn-outline-info btn-block" style="background-color: rgb(24, 107, 80); color: white; margin-bottom: 10px;" ng-click="OrderTicket(p, 0)">ĐẶT CHỖ NGAY!</button>
                        </div>

                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 20px" ng-if="TicketFrom != null && TicketTo != null">
            <div class="col-md-6">
                <h2>Kết quả tìm kiếm</h2>
            </div>
            <div class="col-md-6">
                <button class="btn btn-outline-info btn-block pull-right" ng-click="OrderTicket(null, 1)" style="background-color: rgb(24, 107, 80); color: white;">ĐẶT CHỖ NGAY!</button>
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 20px" ng-if="TicketFrom != null && TicketTo != null">
            <div class="col-md-6">
                <h4>Chiều đi</h4>
                <div id="accordion">
                    <h4 ng-if="TicketFrom.length == 0">Không có kết quả chiều đi!</h4>
                    <div class="card" style="margin-top:15px" ng-repeat="p in TicketFrom track by $index">
                      <div class="card-header" id="headingOne">
                          <div class="collapsed" data-toggle="collapse" ng-click="GetDetail(p, $index, '__from_')" data-target="#__from_{{$index}}" aria-expanded="true" aria-controls="collapseOne" style="display: flex; justify-content: space-around; cursor: pointer; padding: 10px; background-color: #c5f3f3; align-items: center; height: 60px;">
                            <div style="flex: 1.5;">
                                <img width="100%" style="max-height: 50px; object-fit: cover;" src="{{p.link_image_brand}}"/>
                            </div>
                            <div style="flex: 1" class="text-center">
                                <span>{{p.flight_no}}</span>
                            </div>
                            <div style="flex: 1" class="text-center">
                                <span>{{p.start_time}} - {{p.end_time}}</span>
                            </div>
                            <div style="flex: 2" class="text-center">
                                <span>{{p.price}}VNĐ</span>
                            </div>
                          </div>
                      </div>
                  
                      <div id="__from_{{$index}}" ng-show="p.detail != null" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body" style="background-color: #dddddd; padding: 5px;">
    
                            <div style="display: flex; margin: 10px 0; align-items: center;">
                                <div style="flex: 5; text-align: right;">
                                    <h4>{{p.detail.flight_detail.from_airport.city}} ({{p.detail.flight_detail.from_airport.country}})</h4>
                                    <span>Khởi hành: {{p.detail.flight_schedule.start_time}}</span>
                                </div>
                                <div style="flex: 1" class="text-center">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </div>
                                <div style="flex: 5; text-align: left;">
                                    <h4>{{p.detail.flight_detail.to_airport.city}} ({{p.detail.flight_detail.to_airport.country}})</h4>
                                    <span>Khởi hành: {{p.detail.flight_schedule.end_time}}</span>
                                </div>
                                <div style="flex: 1" class="text-center"></div>
                                <div style="flex: 3">
                                    <span><b>Hãng:</b> {{p.detail.airplane_detail.brand}}</span><br/>
                                    <span><b>Máy bay:</b> {{p.detail.airplane_detail.airplane_name}}</span><br/>
                                    <span><b>Loại ghế:</b> {{p.detail.ticket_type}}</span><br/>
                                    <img width="80%" src="{{p.detail.airplane_detail.link_img_brand}}"/>
                                </div>
                            </div>
    
                            <div style="display: flex; margin: 10px 0;">
                                <div style="flex: 1;" class="text-center">
                                    <b>Số lượng ghế</b><br/>1
                                </div>
    
                                <div style="flex: 1;" class="text-center">
                                    <b>Giá tiền một ghế ngồi</b><br/>{{p.detail.price.adult_price.price}} VNĐ
                                </div>
    
                                <div style="flex: 1;" class="text-center">
                                    <b>Thuế & phí</b><br/>{{p.detail.price.tax}} VNĐ
                                </div>
    
                                <div style="flex: 1;" class="text-center">
                                    <b>Tổng tiền</b><br/>{{p.detail.price.total_price}} VNĐ
                                </div>
                            </div>
    
                            <div style="margin-top:10px">
                                <h4>Điều kiện hành lý</h4>
                                <span>Hành lý xách tay: 7kg</span><br/>
                                <span>Hành lý kí gửi: Vui lòng xem khi đặt vé</span>
                            </div>
    
                            <div style="margin-top:10px">
                                <h4>Điều kiện về vé</h4>
                                <span>- Áp dụng đổi vé miễn phí</span><br/>
                                <span>- Áp dụng hoàn vé miễn phí</span><br/>
                                <span>- Không áp dụng đổi tên</span>
                            </div>
    
                            <!-- <div style="margin-top:20px">
                                <button type="button" class="btn btn-outline-info btn-block" style="background-color: rgb(24, 107, 80); color: white;" ng-click="OrderTicket(p)">ĐẶT VÉ NGAY!</button>
                            </div> -->
    
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h4>Chiều về</h4>
                <div id="accordion">
                    <h4 ng-if="TicketTo.length == 0" class="text-center" style="padding: 20px 0;">Không có kết quả chiều khứ hồi!</h4>
                    <div class="card" style="margin-top:15px" ng-repeat="p in TicketTo track by $index">
                      <div class="card-header" id="headingOne">
                          <div class="collapsed" data-toggle="collapse" ng-click="GetDetail(p, $index, '__to_')" data-target="#__to_{{$index}}" aria-expanded="true" aria-controls="collapseOne" style="display: flex; justify-content: space-around; cursor: pointer; padding: 10px; background-color: #c5f3f3; align-items: center; height: 60px">
                            <div style="flex: 1.5;">
                                <img width="100%" style="max-height: 50px; object-fit: cover;" src="{{p.link_image_brand}}"/>
                            </div>
                            <div style="flex: 1" class="text-center">
                                <span>{{p.flight_no}}</span>
                            </div>
                            <div style="flex: 1" class="text-center">
                                <span>{{p.start_time}} - {{p.end_time}}</span>
                            </div>
                            <div style="flex: 2" class="text-center">
                                <span>{{p.price}}VNĐ</span>
                            </div>
                          </div>
                      </div>
                  
                      <div id="__to_{{$index}}" ng-show="p.detail != null" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body" style="background-color: #dddddd; padding: 5px;">
    
                            <div style="display: flex; margin: 10px 0; align-items: center;">
                                <div style="flex: 5; text-align: right;">
                                    <h4>{{p.detail.flight_detail.from_airport.city}} ({{p.detail.flight_detail.from_airport.country}})</h4>
                                    <span>Khởi hành: {{p.detail.flight_schedule.start_time}}</span>
                                </div>
                                <div style="flex: 1" class="text-center">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </div>
                                <div style="flex: 5; text-align: left;">
                                    <h4>{{p.detail.flight_detail.to_airport.city}} ({{p.detail.flight_detail.to_airport.country}})</h4>
                                    <span>Khởi hành: {{p.detail.flight_schedule.end_time}}</span>
                                </div>
                                <div style="flex: 1" class="text-center"></div>
                                <div style="flex: 3">
                                    <span><b>Hãng:</b> {{p.detail.airplane_detail.brand}}</span><br/>
                                    <span><b>Máy bay:</b> {{p.detail.airplane_detail.airplane_name}}</span><br/>
                                    <span><b>Loại ghế:</b> {{p.detail.ticket_type}}</span><br/>
                                    <img width="80%" src="{{p.detail.airplane_detail.link_img_brand}}"/>
                                </div>
                            </div>
    
                            <div style="display: flex; margin: 10px 0;">
                                <div style="flex: 1;" class="text-center">
                                    <b>Số lượng ghế</b><br/>1
                                </div>
    
                                <div style="flex: 1;" class="text-center">
                                    <b>Giá tiền một ghế ngồi</b><br/>{{p.detail.price.adult_price.price}} VNĐ
                                </div>
    
                                <div style="flex: 1;" class="text-center">
                                    <b>Thuế & phí</b><br/>{{p.detail.price.tax}} VNĐ
                                </div>
    
                                <div style="flex: 1;" class="text-center">
                                    <b>Tổng tiền</b><br/>{{p.detail.price.total_price}} VNĐ
                                </div>
                            </div>
    
                            <div style="margin-top:10px">
                                <h4>Điều kiện hành lý</h4>
                                <span>Hành lý xách tay: 7kg</span><br/>
                                <span>Hành lý kí gửi: Vui lòng xem khi đặt vé</span>
                            </div>
    
                            <div style="margin-top:10px">
                                <h4>Điều kiện về vé</h4>
                                <span>- Áp dụng đổi vé miễn phí</span><br/>
                                <span>- Áp dụng hoàn vé miễn phí</span><br/>
                                <span>- Không áp dụng đổi tên</span>
                            </div>
    
                            <!-- <div style="margin-top:20px">
                                <button type="button" class="btn btn-outline-info btn-block" style="background-color: rgb(24, 107, 80); color: white;" ng-click="OrderTicket(p)">ĐẶT VÉ NGAY!</button>
                            </div> -->
    
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 30px">
            <h3>Lưu ý trước khi bay: </h3>
        </div>

        <div class="col-md-12" style="background-color: rgb(201, 17, 4); color: white; padding-top: 15px; padding-bottom: 15px; margin: 0 15px 0 15px; border-radius: 8px;">
            <h4 style="text-transform: uppercase;">hướng dẫn khai báo y tế trước khi bay</h4>
            <ol>
                <li style="line-height: 1.5em; margin: 8px 0 4px 0;">Đối với hành khách cư trú/lưu trú tại địa bàn có dịch cấp 4, khu vực phong toả HOẶC thực hiện chuyến bay xuất phát từ địa bàn có dịch cấp 4, khu vực phong toả:<br/>- Phải có kết quả xét nghiệm âm tính với SARS+Cov_2 theo phương pháp RT-PCR hoặc xét nghiệm nhanh kháng nguyên có giá trị trong vòng 72 giờ</li>
                <li style="line-height: 1.5em; margin: 8px 0 4px 0;">Hành khách không được tham gia chuyến bay khi có các triệu chứng ho, sốt, khó thở, đau mỏi cơ, đau rát họng, mất vị giác, v.v.</li>
                <li style="line-height: 1.5em; margin: 8px 0 4px 0;">Và cũng cần khai báo y tết trước khu làm thủ tục bay qua ứng dụng PC-COVID. Tờ khai y tế tại đường dẫn <a href="https://vietnamkhoemanh.vn/khaibao-yte" style="color: rgb(255, 255, 255); text-decoration: underline;" target="_blank">https://vietnamkhoemanh.vn/khaibao-yte</a> (Quý khách khai báo xong vui lòng lưu lại QR Code để làm thủ tục)</li>
            </ol>
        </div>


        <div class="col-md-12" style="background-color: #e5e5e5; color: rgb(0, 0, 0); padding-top: 15px; padding-bottom: 15px; margin: 30px 15px 0 15px; border-radius: 8px;">
            <h4>6 lý do đặt vé máy bay tại Muavegiare</h4>
            <ul>
                <li style="line-height: 1.5em; margin: 8px 0 4px 0;">Luôn bán đúng giá</li>
                <li style="line-height: 1.5em; margin: 8px 0 4px 0;">Xuất hoá đơn trong ngày</li>
                <li style="line-height: 1.5em; margin: 8px 0 4px 0;">Xác nhận đặt vé sau 1 phút</li>
                <li style="line-height: 1.5em; margin: 8px 0 4px 0;">Phục vụ 24/7 không nghỉ</li>
                <li style="line-height: 1.5em; margin: 8px 0 4px 0;">Hậu mãi chuyên nghiệp</li>
                <li style="line-height: 1.5em; margin: 8px 0 4px 0;">Công ty bán vé máy bay online đầu tiên. Hơn 10 năm kinh nghiệm</li>
            </ul>
        </div>

        <div class="col-md-12 equal" style="padding: 0;margin: 20px 0 0 15px; color: rgb(0, 0, 0);border-radius: 8px;">
            <div class="col-md-6" style="padding-left: 0px;">
                <div style="background-color: rgb(6, 86, 161); color: white; padding: 4px 0;">
                    <h4 style="text-transform: uppercase; text-align: center;">các hình thức mua vé</h4>
                </div>
            </div>

            <div class="col-md-6" style="padding-right: 0px;">
                <div style="background-color: rgb(6, 86, 161); color: white; padding: 4px 0;">
                    <h4 style="text-transform: uppercase; text-align: center;">các hình thức thanh toán</h4>
                </div>
            </div>
        </div>
        
        <div class="col-md-12 equal" style="padding: 4px 0;margin: 0 0 0 15px; color: rgb(0, 0, 0); border-radius: 8px;">
            <div class="col-md-6" style="padding-left: 0px;">
                <div style="position: relative; height: 100%; background-color: rgb(235, 235, 235); padding: 5px 5px 5px 0; display: flex; align-items: center;">
                    <div style="background-color: rgb(231, 75, 3); margin: 10px; flex: 1; text-align: center; border-radius: 50%; padding: 3px 0; color: white;">
                        <h4>1</h4>
                    </div>
                    <div style="flex: 10;">
                        <h4>Đặt vé trực tiếp qua website Muavegiare.com</h4>
                        <small>Nhanh nhất, tiện lợi và tiết kiệm nhất</small>
                    </div>
                </div>
            </div>

            <div class="col-md-6" style="padding-right: 0px;">
                <div style="position: relative; background-color: rgb(235, 235, 235); padding: 5px 10px 10px 10px;">
                    <h4>Thanh toán bằng chuyển khoản</h4>
                    <small>Quý khách có thể thanh toán cho chúng tôi bằng cách chuyển khoản trực tiếp tại ngân hàng hoặc chuyển qua thẻ ATM, Internet banking</small>
                </div>
            </div>
        </div>

        <div class="col-md-12 equal" style="padding: 15px 0;margin: 0px 0 0 15px; color: rgb(0, 0, 0); padding: 0 0 4px 0; border-radius: 8px;">
            <div class="col-md-6" style="padding-left: 0px;">
                <div style="position: relative; height: 100%; background-color: rgb(235, 235, 235); padding: 5px 5px 5px 0; display: flex; align-items: center;">
                    <div style="background-color: rgb(24, 138, 146); margin: 10px; flex: 1; text-align: center; border-radius: 50%; padding: 3px 0; color: white;">
                        <h4>2</h4>
                    </div>
                    <div style="flex: 10;">
                        <h4>Gọi điện tới tổng đài 24/7</h4>
                        <h4 style="color: red; font-weight: bold;">(+84) 33 111 2233</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6" style="padding-right: 0px;">
                <div style="position: relative; background-color: rgb(235, 235, 235); padding: 5px 10px 10px 10px;">
                    <h4>Thanh toán tại nhà</h4>
                    <small>Nhân viên của Muavegiare sẽ đến tận nơi theo địa chỉ của Quý khách để giao và thu tiền trong 3-24 giờ, từ Thứ Hai đến Chủ Nhật cả ngày lễ và hoàn toàn miễn phí</small>
                </div>
            </div>
        </div>

        <div class="col-md-12 equal" style="padding: 15px 0;margin: 0px 0 0 15px; color: rgb(0, 0, 0); padding: 0 0 4px 0; border-radius: 8px;">
            <div class="col-md-6" style="padding-left: 0px;">
                <div style="position: relative; height: 100%; background-color: rgb(235, 235, 235); padding: 5px 5px 5px 0; display: flex; align-items: center;">
                    <div style="background-color: rgb(47, 148, 47); margin: 10px; flex: 1; text-align: center; border-radius: 50%; padding: 3px 0; color: white;">
                        <h4>3</h4>
                    </div>
                    <div style="flex: 10;">
                        <h4>Đặt vé qua email</h4>
                        <h4 style="color: red; font-weight: bold;">muavegiare@gmail.com</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6" style="padding-right: 0px;">
                <div style="position: relative; background-color: rgb(235, 235, 235); padding: 5px 10px 10px 10px;">
                    <h4>Thanh toán bằng tiền mặt tại phòng vé</h4>
                    <small>Sau khi đặt hàng thành công, bạn có thể đến văn phòng chúng tôi để thành toán và nhận vé. Vui lòng chọn văn phòng gần địa chỉ nhà của bạn nhất</small>
                </div>
            </div>
        </div>

        <div class="modal fade" id="BookingTicketModal">
            <div class="modal-dialog">
              <div class="modal-content">
              
                <!-- Modal Header -->
                <div class="modal-header">
                    <span style="font-size: 20px;">Đặt vé máy bay</span>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="row">
                        <div class="col-md-12">
                            <label class="bold">Tên liên hệ:</label>
                            <input class="form-control" ng-model="SelectedFlight.name"/>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <label class="bold">Số điện thoại:</label>
                            <input class="form-control" type="number" ng-model="SelectedFlight.phone"/>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <label class="bold">Email:</label>
                            <input class="form-control" type="text" ng-model="SelectedFlight.email"/>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;" ng-if="TicketFrom != null && TicketTo != null">
                            <label class="bold">Chọn vé chiều đi:</label>
                            <dropdown-select class="form-control" dd-model='SelectedFlight.FromTicket' dd-data='TicketFrom' dd-label='display' dd-change="CheckToTicket()"></dropdown-select>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;" ng-if="TicketFrom != null && TicketTo != null">
                            <label class="bold">Chọn vé chiều về:</label>
                            <dropdown-select class="form-control" dd-model='SelectedFlight.ToTicket' dd-data='TicketTo' dd-label='display' dd-change="CheckToTicket()"></dropdown-select>
                        </div>
                        <div ng-repeat="p in SelectedFlight.ListPassenger track by $index">
                            <div class="col-md-12" style="margin-top: 10px">
                                <div class="col-md-3" style="padding: 0px;">
                                    <dropdown-select class="form-control" dd-model='p.type' dd-data='ListPassengerType' dd-label='name' dd-change="ChangePassengerType()"></dropdown-select>
                                </div>
                                <!-- <div class="col-md-2" style="padding-right: 0px;">
                                    <input class="form-control" type="number" ng-model="p.num_of_pass"/>
                                </div> -->
                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="p.passenger_name" placeholder="Họ tên người bay"/>
                                </div>
                                <div class="col-md-1 text-center">
                                    <span ng-click="RemovePassenger($index)" style="color: red; cursor: pointer;"><i class="fa fa-2x fa-times" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px">
                            <button class="btn btn-warning pull-right" ng-click="AddPassenger()">Thêm người</button>
                        </div>
                  </div>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn pull-right" data-dismiss="modal">Huỷ</button>
                    <button type="button" class="btn btn-info pull-right" style="margin-right: 10px;" ng-click="BookTicket()">Đặt vé</button>
                </div>
                
              </div>
            </div>
          </div>
          
        </div>
    </div>
</div>
<div ng-include="'components/Header/Footer.html'"></div>