<style>
    .login_container {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-color: antiquewhite;
        background-image: url("components/Media/login_bg.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .login_modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 60px;
        border-radius: 30px;
        background-color: #2a719dbe;
        max-width: 500px;
        min-width: 300px;
        min-height: 100px;
    }
</style>

<div class="login_container">
    <div class="login_modal">
        
        <form novalidate>
            <div class="text-center">
                <img ng-src="components/Media/logo.svg" width="100%" alt="easy flight logo"/>
            </div>
            <div style="margin-top: 20px">
                <label style="color: white" id="email">Email:</label>
                <input class="form-control" id="email" type="text" ng-model="LoginData.email" placeholder="Email"/>
                <small style="color: #ff6565;">{{LoginData.email_err}}</small>
            </div>
            <div style="margin-top: 10px">
                <label style="color: white" id="password">Mật khẩu:</label>
                <input class="form-control" id="password" type="password" ng-model="LoginData.password" placeholder="Mật khẩu"/>
                <small style="color: #ff6565;">{{LoginData.pass_err}}</small>
            </div>
            <div style="margin-top: 4px">
                <a class="color_white pull-right" href="#!/forget">Quên mật khẩu?</a>
            </div>
            <div style="margin-top: 50px">
                <button type="submit" ng-click="Login()" class="btn btn-block" style="text-transform: uppercase">Đăng nhập</button>
            </div>
        </form>
    </div>
</div>

<!-- <div class="login_container">
    <div class="login-left">
        <div class="login_slide" id="login_slide"></div>
    </div>
    <div class="login-right">
        <div class="login-form">
            <div class="col-md-10">
                <img ng-src="components/Media/logo.svg" width="100%" alt="easy flight logo"/>
            </div>
            <div class="margin-top-50">
                <label for="login_username" class="color_white">Email:</label>
                <input id="login_username" type="text" ng-model="LoginData.email" class="form-control-transparent color_white"/>
                <small class="err">{{LoginData.email_err}}</small>
            </div>
            <div class="margin-top-20">
                <label for="login_password" class="color_white">Mật khẩu:</label>
                <input id="login_password" type="password" ng-model="LoginData.password" class="form-control-transparent color_white"/>
                <small class="err">{{LoginData.pass_err}}</small>
            </div>
            <a class="color_white pull-right" href="#!/forget">Quên mật khẩu?</a>
            <div class="margin-top-20">
                <input id="login_save_session" ng-model="LoginData.SaveSession" type="checkbox"/>
                <label for="login_save_session" class="color_white">Duy trì phiên đăng nhập</label>
            </div>
            <div class="margin-top-50">
                <button class="btn btn-white" ng-click="Login()">
                    Đăng nhập&nbsp;
                    <span class="border-icon">
                        <i class="fa fa-plane color_white" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="col-md-20 text-center">
                <p class="color_white">Chưa có tài khoản? <a class="color_white" href="#!/signup">Đăng ký ngay!</a></p>
            </div>
        </div>
    </div>
</div> -->