<div ng-include="'components/Header/header.html'"></div>

<div class="container">
  <div class="col-md-12">
    <button class="btn btn-info pull-right" ng-click="AddLocation()">Thêm vị trí sân bay</button>
  </div>
  <h2>Danh sách các địa điểm sân bay</h2>
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Quốc gia / Lãnh thổ</th>
        <th class="text-center">Vị trí sân bay</th>
        <th class="text-center">Xoá</th>
      </tr>
    </thead>
    <tbody ng-repeat="p in ListLocation" ng-init="parentIndex = $index">
      <tr class="{{ListClass[parentIndex%ListClass.length]}}" ng-repeat="x in p.cities track by $index">
        <td style="vertical-align: middle;" rowspan="{{p.cities.length}}" ng-if="$index == 0"><b>{{p.country_name}}</b></td>
        <td style="vertical-align: middle;">{{x.city_name}}</td>
        <td style="vertical-align: middle;" class="text-center">
          <span style="color: red; cursor: pointer;" ng-click="DeleteLocation(x)"><i class="fa fa-times" aria-hidden="true"></i></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="AddLocationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <span style="font-size: 20px;">Tạo vị trí sân bay</span>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <label>Tên quốc gia:</label>
          </div>
          <div class="col-md-12">
            <input class="form-control" ng-model="LocationInfo.country_name"/>
          </div>
          <div class="col-md-12" style="margin-top: 10px;">
            <label>Tên thành phố:</label>
          </div>
          <div class="col-md-12">
            <input class="form-control" ng-model="LocationInfo.city_name"/>
          </div>
          <div class="col-md-12" style="margin-top: 10px;">
            <label>Tên sân bay:</label>
          </div>
          <div class="col-md-12">
            <input class="form-control" ng-model="LocationInfo.airport_name"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn pull-right" data-dismiss="modal">Huỷ</button>
          <button type="button" class="btn btn-info pull-right" style="margin-right: 10px;" ng-click="CreateLocation()">Tạo vị trí sân bay</button>
      </div>
    </div>
  </div>
</div>
<div ng-include="'components/Header/Footer.html'"></div>