<style>
    .forget_password_container {
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        position: relative;
    }

    .forget_password_box {
        min-width: 350px;
        max-width: 500px;
        padding: 20px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<div class="forget_password_container">
    <div class="forget_password_box text-center">
        <h3>Quên mật khẩu ư?</h3>
        <small>Điền mail của bạn vào đây!</small>
        <input ng-model="forget_password_email" style="margin-top: 20px" class="form-control" placeholder="Email"/>
        <div style="margin-top: 20px" class="text-center">
            <button class="btn btn-blue" ng-click="SendResetPasswordEmail()">Gửi yêu cầu</button>
        </div>
        <div class="text-center" style="margin-top: 10px">
            <a href="#!/login" class="color_white">Đăng nhập</a>
        </div>
    </div>
</div>