<div class="dashboard-container">
    <span ng-include="'components/Sidebar/sidebar.html'"></span>
    <div class="dashboard-right">
        <div class="margin-top-50">
            <h1>Vé của bạn</h1>
            <div class="ticket_item" ng-class="{'cancel': p.state == 0}" ng-repeat="p in ListTicket" ng-click="DetailTicket(p)">
                <div class="ticket_header">
                    <span>Easy flight</span>
                </div>
                <div class="ticket_body">        
                    <div style="margin-top: 30px; display: flex; justify-content: space-between">
                        <div>
                            <span class="block">TRẠNG THÁI:</span>
                            <span class="block margin-top-10" style="font-size: 20px">{{p.state === 1 ? 'Đã đặt vé' : 'Đã huỷ'}}</span>
                        </div>
        
                        <div>
                            <span class="block">GIÁ VÉ:</span>
                            <span class="block margin-top-10" style="font-size: 20px">{{p.price}}</span>
                        </div>
        
                        <div>
                            <span class="block">GHẾ NGỒI:</span>
                            <span class="block margin-top-10" style="font-size: 20px">{{p.seatNumber}}</span>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </div>


    <div class="modal_container" id="detail_ticket">
        <div class="modal_box">
            <span class="close_modal_icon" ng-click="CloseModal('detail_ticket')">&times;</span>
            <h2>Thông tin vé máy bay</h2>
            <div class="ticket_item_modal">
                <div class="ticket_body">
                    <div style="margin-top: 30px; display: flex; justify-content: space-between; align-items: center;">
                        <span class="ticket_location">{{TicketDetail.flight_detail.from_airport.country}}</span>
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <span class="ticket_location">{{TicketDetail.flight_detail.to_airport.country}}</span>
                    </div>
            
                    <div style="margin-top: 30px; display: flex; justify-content: space-between;">
                        <div>
                            HỌ VÀ TÊN:<br/>{{TicketDetail.user_detail.username}}
                        </div>
            
                        <div>
                            SỐ GHẾ:<br/>{{TicketDetail.seat_number}}                
                        </div>
                    </div>
            
                    <div style="margin-top: 30px; display: flex; justify-content: space-between">
                        <div>
                            <span class="block">TRẠNG THÁI:</span><br/>{{TicketDetail.booking_state === 'BOOKED' ? 'Đã đặt vé' : 'Đã huỷ'}}</span>
                        </div>
            
                        <div>
                            <span class="block">GIÁ VÉ:</span><br/><span>{{TicketDetail.price}}</span>
                        </div>
            
                        <div>
                            <span class="block">GHẾ NGỒI:</span><br/><span>{{TicketDetail.seat_number}}</span>
                        </div>
                    </div>

                    <div style="margin-top: 30px; display: flex; justify-content: space-between; text-align: center;">
                        <div>
                            <span>KHỞI HÀNH:</span><br/>{{TicketDetail.flight_schedule.start_time}}</span>
                        </div>
            
                        <div>
                            <span>KÉT THÚC:</span><br/><span>{{TicketDetail.flight_schedule.end_time}}</span>
                        </div>
                    </div>
            
                </div>
            </div>
            <div class="margin-top-20" ng-if="TicketDetail.booking_state === 'BOOKED'">
                <button class="btn btn-red" ng-click="CancelTicket()">Huỷ vé</button>
            </div>
            <div class="margin-top-20" ng-if="TicketDetail.booking_state != 'BOOKED'">
                <button class="btn btn-blue" disabled>Vé đã bị huỷ</button>
            </div>
        </div>
    </div>
</div>