<div ng-include="'components/Header/header.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <label class="bold">Chọn một chuyến bay:</label>
            </div>
            <div class="col-md-10">
                <dropdown-select class="form-control" dd-model='FlightSchedule' dd-data='ListFlightSchedule' dd-label='flight_name' dd-change="GetListTicket()"></dropdown-select>
            </div>
        </div>

        <div class="col-md-12" ng-show="ListTicketByScheduleParams.data.length < 1">
            <h2>Không có vé nào của chuyến bay này</h2>
        </div>

        <div class="col-md-12" ng-show="ListTicketByScheduleParams.data.length > 0">
            <h2>Danh sách vé</h2>
        </div>
        
        <div class="col-md-12 margin-top-10">
            <table ng-table="ListTicketByScheduleParams" class="table" show-filter="true" ng-show="ListTicketByScheduleParams.data.length > 0">
                <tr ng-repeat="p in $data track by $index">
                    <td title="'STT'" class="text-center">{{$index+1}}</td>
                    <td title="'Số hiệu chuyến bay'" style="color: rgb(0, 134, 187); cursor: pointer;; text-decoration: underline;" ng-click="GetDetailTicket(p)">{{p.flight_no}} ({{p.airplane_name}})</td>
                    <td title="'Tên người đặt'" class="text-center">{{p.username}}</td>
                    <td title="'Trạng thái'" class="text-center" sortable="'booking_state'">{{p.booking_state === 'BOOKED' ? 'Đã thanh toán' : p.booking_state == 'PENDING' ? 'Đang chờ thanh toán' : 'Ghế còn trống'}}</td>
                    <td title="'Thông tin vé'">
                        <span><b>Khởi hành từ:</b> {{p.from_airport.cityName}} ({{p.from_airport.countryName}})</span>
                        <br/>
                        <span><b>Đến:</b> {{p.to_airport.cityName}} ({{p.to_airport.countryName}})</span>
                    </td>
                    <td title="''" class="text-center">
                        <button class="btn btn-success" ng-if="p.booking_state == 'PENDING'" ng-click="ApproveTicket(p)">Xác nhận đã thanh toán</button>
                        <button class="btn btn-danger" ng-if="p.booking_state != 'AVAILABLE'" ng-click="CancelTicket(p)">Hủy vé</button>
                        <!-- <span ng-click="EditTicketInfo(p)" style="color: rgb(9, 172, 136); cursor: pointer;"><i class="fa fa-edit"></i></span> 
                        <b>/</b> 
                        <span ng-click="CancelTicket(p)" style="color: red; cursor: pointer;"><i class="fa fa-times" aria-hidden="true"></i></span> -->
                    </td>
                </tr>
              </table>
        </div>

        <div class="modal fade" id="DetailTicketModal">
            <div class="modal-dialog">
                <div class="modal-content">
                
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <div class="modal-title">
                            <span style="font-size: 20px; font-weight: bold;">Chi tiết vé máy bay</span>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-12" ng-if="TicketInfo.price.adult_price">
                                <div class="col-md-4">
                                    <label class="bold">Giá ghế người lớn: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketInfo.price.adult_price.price}} * {{TicketInfo.price.adult_price.number_people}} = {{TicketInfo.price.adult_price.total_price}} VNĐ</p>
                                </div>
                            </div>

                            <div class="col-md-12" ng-if="TicketInfo.price.children_price">
                                <div class="col-md-4">
                                    <label class="bold">Giá ghế trẻ em: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketInfo.price.children_price.price}} * {{TicketInfo.price.children_price.number_people}} = {{TicketInfo.price.children_price.total_price}} VNĐ</p>
                                </div>
                            </div>

                            <div class="col-md-12" ng-if="TicketInfo.price.baby_price">
                                <div class="col-md-4">
                                    <label class="bold">Giá ghế trẻ sơ sinh: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketInfo.price.baby_price.price}} * {{TicketInfo.price.baby_price.number_people}} = {{TicketInfo.price.baby_price.total_price}} VNĐ</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10">
                                <div class="col-md-4">
                                    <label class="bold">Thuế: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketInfo.price.tax}} VNĐ</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10">
                                <div class="col-md-4">
                                    <label class="bold">Tổng giá vé: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketInfo.price.total_price}} VNĐ</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10">
                                <div class="col-md-4">
                                    <label class="bold">Hãng: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketInfo.airplane_detail.airplane_name}} ({{TicketInfo.airplane_detail.brand}})</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10">
                                <div class="col-md-4">
                                    <label class="bold">Trạng thái: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketInfo.booking_state == 'BOOKED' ? 'Đã thanh toán' : TicketInfo.booking_state === 'PENDING' ? 'Đang chờ thanh toán' : 'Ghế còn trống'}}</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10">
                                <div class="col-md-4">
                                    <label class="bold">Lộ trình: </label>
                                </div>
                                <div class="col-md-8">
                                    <p><b>{{TicketInfo.flight_detail.from_airport.city}} ({{TicketInfo.flight_detail.from_airport.country}})</b> tới <b>{{TicketInfo.flight_detail.to_airport.city}} ({{TicketInfo.flight_detail.to_airport.country}})</b></p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10" ng-if="TicketInfo.user != null">
                                <div class="col-md-4">
                                    <label class="bold">Người đặt vé: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketInfo.user.username}}</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10" ng-if="TicketInfo.user != null">
                                <div class="col-md-4">
                                    <label class="bold">Email: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketInfo.user.email}}</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10" ng-if="TicketInfo.user != null">
                                <div class="col-md-4">
                                    <label class="bold">SĐT: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketInfo.user.phone}}</p>
                                </div>
                            </div>


                        </div>
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn pull-right" data-dismiss="modal">Đóng</button>
                    </div>
                    
                </div>
            </div>
        </div>


        <div class="modal fade" id="EditTicketModal">
            <div class="modal-dialog">
                <div class="modal-content">
                
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <div class="modal-title">
                            <span style="font-size: 20px; font-weight: bold;">Chỉnh sửa thông tin vé máy bay</span>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            {{TicketEditInfo}}
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="bold">Giá vé: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketEditInfo.price.ticket_price}} VNĐ</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10">
                                <div class="col-md-4">
                                    <label class="bold">Thuế: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketEditInfo.price.tax}} VNĐ</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10">
                                <div class="col-md-4">
                                    <label class="bold">Tổng giá vé: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketEditInfo.price.total_price}} VNĐ</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10">
                                <div class="col-md-4">
                                    <label class="bold">Số ghế (Loại vé): </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketEditInfo.seat_number}} ({{TicketEditInfo.ticket_type}})</p>
                                </div>
                            </div>


                            <div class="col-md-12 margin-top-10">
                                <div class="col-md-4">
                                    <label class="bold">Số ghế: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketEditInfo.seat_number}}</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10">
                                <div class="col-md-4">
                                    <label class="bold">Hãng: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketEditInfo.airplane_detail.airplane_name}} ({{TicketEditInfo.airplane_detail.brand}})</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10">
                                <div class="col-md-4">
                                    <label class="bold">Trạng thái: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketEditInfo.booking_state === 'BOOKED' ? 'Đặt vé thành công' : 'Vẫn đang trống'}}</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10">
                                <div class="col-md-4">
                                    <label class="bold">Lộ trình: </label>
                                </div>
                                <div class="col-md-8">
                                    <p><b>{{TicketEditInfo.flight_detail.from_airport.city}} ({{TicketEditInfo.flight_detail.from_airport.country}})</b> tới <b>{{TicketEditInfo.flight_detail.to_airport.city}} ({{TicketEditInfo.flight_detail.to_airport.country}})</b></p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10" ng-if="TicketEditInfo.user != null">
                                <div class="col-md-4">
                                    <label class="bold">Người đặt vé: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketEditInfo.user.username}}</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10" ng-if="TicketEditInfo.user != null">
                                <div class="col-md-4">
                                    <label class="bold">Email: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketEditInfo.user.email}}</p>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-10" ng-if="TicketEditInfo.user != null">
                                <div class="col-md-4">
                                    <label class="bold">SĐT: </label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{TicketEditInfo.user.phone}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn pull-right" data-dismiss="modal">Đóng</button>
                    </div>
                    
                </div>
            </div>
        </div>


        <div class="modal fade" id="AddScheduleModal">
            <div class="modal-dialog">
                <div class="modal-content">
                
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <div class="modal-title">
                            <span style="font-size: 20px; font-weight: bold;">Thêm chuyến bay</span>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <!-- <div class="col-md-12">
                                <label class="bold">Số hiệu chuyến bay:</label>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" ng-model="ScheduleInfo.flight_no" type="text"/>
                            </div> -->

                            <div class="col-md-12" style="margin-top: 10px">
                                <label class="bold">Khởi hành từ sân bay:</label>
                            </div>
                            <div class="col-md-12">
                                <dropdown-select class="form-control" dd-model='ScheduleInfo.from_airport' dd-data='ListLocation' dd-label='location_name'></dropdown-select>
                            </div>

                            <div class="col-md-12" style="margin-top: 10px">
                                <label class="bold">Đến sân bay:</label>
                            </div>
                            <div class="col-md-12">
                                <dropdown-select class="form-control" dd-model='ScheduleInfo.to_airport' dd-data='ListLocation' dd-label='location_name'></dropdown-select>
                            </div>

                            <div class="col-md-12" style="margin-top: 10px">
                                <label class="bold">Máy bay:</label>
                            </div>
                            <div class="col-md-12">
                                <dropdown-select class="form-control" dd-model='ScheduleInfo.airplane' dd-data='ListAirplane' dd-label='airplane_name'></dropdown-select>
                            </div>

                            <div class="col-md-12" style="margin-top: 10px">
                                <label class="bold">Thời gian khởi hành:</label>
                            </div>
                            <div class="col-md-12">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target=".dropdown2" href="javascript:void()">
                                      <div class="input-group">
                                        <input type="text" id="date" name="date" class="form-control" data-ng-model="ScheduleInfo.start_time">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                      </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                      <datetimepicker data-ng-model="ScheduleInfo.start_time" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"></datetimepicker>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top: 10px">
                                <label class="bold">Thời gian kết thúc:</label>
                            </div>
                            <div class="col-md-12">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target=".dropdown1" href="javascript:void()">
                                      <div class="input-group">
                                        <input type="text" id="date" name="date" class="form-control" data-ng-model="ScheduleInfo.end_time">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                      </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                      <datetimepicker data-ng-model="ScheduleInfo.end_time" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                            <!-- ---------------------------------- -->
                            <div ng-if="ScheduleInfo.airplane != ''">
                                <div class="col-md-12" style="margin-top: 10px">
                                    <label class="bold">Tổng số ghế:</label>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" ng-model="ScheduleInfo.airplane.capacity" type="text" readonly/>
                                </div>

                                <div class="col-md-12" style="margin-top: 10px">
                                    <label class="bold">Tổng số ghế hạng nhất:</label>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" ng-model="ScheduleInfo.first_class_number" type="number" ng-change="CheckTotalSeat(ScheduleInfo.first_class_number, 1)"/>
                                </div>

                                <div class="col-md-12" style="margin-top: 10px">
                                    <label class="bold">Tổng số ghế thương gia:</label>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" ng-model="ScheduleInfo.business_class_number" type="number" ng-change="CheckTotalSeat(ScheduleInfo.business_class_number, 2)"/>
                                </div>

                                <div class="col-md-12" style="margin-top: 10px">
                                    <label class="bold">Tổng số ghế hạng cao cấp:</label>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" ng-model="ScheduleInfo.premium_class_number" type="number" ng-change="CheckTotalSeat(ScheduleInfo.premium_class_number, 3)"/>
                                </div>

                                <div class="col-md-12" style="margin-top: 10px">
                                    <label class="bold">Tổng số ghế hạng thường (tự động tính):</label>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" ng-model="ScheduleInfo.economy_class_number" type="number" ng-change="CheckTotalSeat()" readonly/>
                                </div>
                            </div>
                            <!-- ---------------------------------- -->

                        </div>
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn pull-right" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-info pull-right" style="margin-right: 10px" ng-click="CreateNewSchedule()">Tạo chuyến bay</button>
                    </div>
                    
                </div>
            </div>
        </div>


    </div>
</div>

<!-- <div style="position: fixed; bottom: 20px; right: 20px; padding: 9px 12px; border-radius: 50%; background-color: #f56f28;" ng-if="token != ''" ng-click="AddFlightSchedule()">
    <span style="color: white"><i class="fa fa-2x fa-plus" aria-hidden="true"></i></span>
</div> -->