<div ng-include="'components/Header/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center" style="background: url(components/header_thum.jpg) no-repeat center; background-size: cover; background-color: #1a1a1a81; background-blend-mode: multiply; color: rgb(226, 226, 226);">
                <h1>Muavegiare.com</h1>
                <p>Đồng hành cùng bạn trên mọi chặng đường!</p> 
            </div>
        </div>

        <style>
            .equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
        </style>

        <!-- <div class="col-md-12">
            <a href="#!/dashboard" class="btn btn-primary pull-right">Tìm kiếm vé</a>
        </div> -->

        <div class="col-md-12">
            <h2>Các tin tức nổi bật trong ngày</h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-6" style="margin: 10px 0; cursor: pointer" ng-repeat="p in ListNews track by $index">
                <div class="card" style="background-color: #e7e7e7; padding: 10px; border-radius: 10px;">
                    <img class="card-img-top" ng-click="DetailNews(p)" width="100%" src="{{p.mainImagePath}}" alt="Main Background">
                    <div class="card-body" ng-click="DetailNews(p)">
                        <h4 class="card-title bold">{{p.title}}</h4>
                        <p class="card-text">{{p.preview_content}}</p>
                        <small style="text-align: right; font-style: italic; display: block; margin-top: 5px;">Tác giả: {{p.author}}</small>
                    </div>
                    <div class="card-footer" style="text-align: right; margin-top: 10px">
                        <button class="btn btn-danger" ng-if="token != ''" ng-click="DeletePost(p)">Xoá bài viết</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 equal" style="margin: 20px 0 0 0">
            <div class="col-md-6">
                <div style="background-color: rgb(6, 86, 161); color: white; padding: 4px 0;">
                    <h4 style="text-transform: uppercase; text-align: center;">các hình thức mua vé</h4>
                </div>
            </div>

            <div class="col-md-6">
                <div style="background-color: rgb(6, 86, 161); color: white; padding: 4px 0;">
                    <h4 style="text-transform: uppercase; text-align: center;">các hình thức thanh toán</h4>
                </div>
            </div>
        </div>
        
        <div class="col-md-12 equal" style="margin: 0 0 4px 0">
            <div class="col-md-6">
                <div style="position: relative; height: 100%; background-color: rgb(235, 235, 235); padding: 5px 5px 5px 0; display: flex; align-items: center;">
                    <div style="background-color: rgb(231, 75, 3); margin: 10px; flex: 1; text-align: center; border-radius: 50%; padding: 3px 0; color: white;">
                        <h4>1</h4>
                    </div>
                    <div style="flex: 10;">
                        <h4>Đặt vé trực tiếp qua website Muavegiare.com</h4>
                        <small>Nhanh nhất, tiện lợi và tiết kiệm nhất</small>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div style="position: relative; background-color: rgb(235, 235, 235); padding: 5px 10px 10px 10px;">
                    <h4>Thanh toán bằng chuyển khoản</h4>
                    <small>Quý khách có thể thanh toán cho chúng tôi bằng cách chuyển khoản trực tiếp tại ngân hàng hoặc chuyển qua thẻ ATM, Internet banking</small>
                </div>
            </div>
        </div>

        <div class="col-md-12 equal" style="margin: 0 0 4px 0">
            <div class="col-md-6">
                <div style="position: relative; height: 100%; background-color: rgb(235, 235, 235); padding: 5px 5px 5px 0; display: flex; align-items: center;">
                    <div style="background-color: rgb(24, 138, 146); margin: 10px; flex: 1; text-align: center; border-radius: 50%; padding: 3px 0; color: white;">
                        <h4>2</h4>
                    </div>
                    <div style="flex: 10;">
                        <h4>Gọi điện tới tổng đài 24/7</h4>
                        <h4 style="color: red; font-weight: bold;">(+84) 33 111 2233</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div style="position: relative; background-color: rgb(235, 235, 235); padding: 5px 10px 10px 10px;">
                    <h4>Thanh toán tại nhà</h4>
                    <small>Nhân viên của Muavegiare sẽ đến tận nơi theo địa chỉ của Quý khách để giao và thu tiền trong 3-24 giờ, từ Thứ Hai đến Chủ Nhật cả ngày lễ và hoàn toàn miễn phí</small>
                </div>
            </div>
        </div>

        <div class="col-md-12 equal">
            <div class="col-md-6">
                <div style="position: relative; height: 100%; background-color: rgb(235, 235, 235); padding: 5px 5px 5px 0; display: flex; align-items: center;">
                    <div style="background-color: rgb(47, 148, 47); margin: 10px; flex: 1; text-align: center; border-radius: 50%; padding: 3px 0; color: white;">
                        <h4>3</h4>
                    </div>
                    <div style="flex: 10;">
                        <h4>Đặt vé qua email</h4>
                        <h4 style="color: red; font-weight: bold;">muavegiare@gmail.com</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div style="position: relative; background-color: rgb(235, 235, 235); padding: 5px 10px 10px 10px;">
                    <h4>Thanh toán bằng tiền mặt tại phòng vé</h4>
                    <small>Sau khi đặt hàng thành công, bạn có thể đến văn phòng chúng tôi để thành toán và nhận vé. Vui lòng chọn văn phòng gần địa chỉ nhà của bạn nhất</small>
                </div>
            </div>
        </div>

        <div class="modal fade" id="DetailNewsModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <span style="font-size: 22px; display: inline-block" class="bold">{{NewsInfo.title}}</span>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <img src="{{NewsInfo.mainImagePath}}" width="100%" style="max-height: 300px; object-fit: contain;"/>
                    <p style="margin-top: 10px">{{NewsInfo.content}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn pull-right" data-dismiss="modal">Đóng</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position: fixed; bottom: 20px; right: 20px; padding: 9px 12px; border-radius: 50%; background-color: aqua;" ng-if="token != ''" ng-click="AddPost()">
    <span style="color: white"><i class="fa fa-2x fa-plus" aria-hidden="true"></i></span>
</div>
<div class="modal fade" id="AddPostModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <span style="font-size: 20px;">Tạo bài viết</span>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">

            <div class="col-md-12">
                <label class="bold">Tiêu đề:</label>
            </div>
            <div class="col-md-12">
                <input class="form-control" ng-model="PostInfo.title"/>
            </div>

            <div class="col-md-12" style="margin-top: 10px">
                <label class="bold">Nội dung bài viết:</label>
              </div>
            <div class="col-md-12">
                <textarea class="form-control" ng-model="PostInfo.content"></textarea>
            </div>

            <div class="col-md-12" style="margin-top: 10px">
                <label class="bold">Tác giả:</label>
              </div>
            <div class="col-md-12">
                <input class="form-control" ng-model="PostInfo.author"/>
            </div>

            <div class="col-md-12" style="margin-top: 10px">
                <label class="bold">Ảnh cho bài viết:</label>
              </div>
            <div class="col-md-12">
                <input id="uploadThumnail" type="file" onerror="error" accept=".jpg,.jpeg,.png" onchange="angular.element(this).scope().chooseFile(event)"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn pull-right" data-dismiss="modal">Huỷ</button>
            <button type="button" class="btn btn-info pull-right" style="margin-right: 10px;" ng-click="CreatePost()">Tạo bài viết</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'components/Header/Footer.html'"></div>